{% extends "layout.twig" %}

{% block content %}
    <div class="card">
    	<div class="card-body">
    		<h5 class="card-title">
    			Новый платеж - Тестовое задание для @Assistent
    		</h5>

		    <a href="https://t.me/leonardjke" target="_blank"><small class="text-muted d-block">Леонард (@leonardjke)</small></a>
		    <a href="https://gitlab.com/leonardjke/assistent" target="_blank"><small class="text-muted d-block">Gitlab (source code)</small></a>
			<div class="row">
				<div class="col-lg-6 mx-auto">
					<div class="dialog">
					</div>
		            <div class="form-group row">
                        <label for="unp" class="col-sm-4 col-form-label text-md-right">УНП</label>
                        <div class="col-md-8">
                            <input id="unp" type="text" class="form-control{% if errors.unp is defined %} is-invalid{% endif %}" name="unp" placeholder="000000000" value="{# old('email') #}" required autofocus>
                            {% if errors.unp is defined %}
                                <span class="invalid-feedback" role="alert">
                                    <strong>{{ errors.unp }}</strong>
                                </span>
                            {% endif %}
                        </div>
                    </div>
		            <div class="form-group row">
                        <label for="acc" class="col-sm-4 col-form-label text-md-right">Расчётный счёт</label>
                        <div class="col-md-8">
                            <input id="acc" type="text" class="form-control{% if errors.acc is defined %} is-invalid{% endif %}" name="acc" placeholder="BY00ABCD00000000000000000000" value="{# old('email') #}" required autofocus>
                            {% if errors.acc is defined %}
                                <span class="invalid-feedback" role="alert">
                                    <strong>{{ errors.acc }}</strong>
                                </span>
                            {% endif %}
                        </div>
                    </div>
		            <div class="form-group row">
                        <label for="sum" class="col-sm-4 col-form-label text-md-right">Сумма</label>
                        <div class="col-md-8">
                            <input id="sum" type="text" class="form-control{% if errors.sum is defined %} is-invalid{% endif %}" name="sum" placeholder="0,00" value="{# old('email') #}" required autofocus>
                            {% if errors.sum is defined %}
                                <span class="invalid-feedback" role="alert">
                                    <strong>{{ errors.sum }}</strong>
                                </span>
                            {% endif %}
                        </div>
                    </div>
					<div id="drop-area" class="dm-uploader p-5">
						<h3 class="mb-5 mt-5 text-muted">Drag &amp; drop files here</h3>

						<div class="btn btn-primary btn-block mb-5" id="button">
							<span>Открыть в браузере</span>
							<input type="file" title='Click to add Files' />
						</div>
					</div>
		          	<button type="button" class="btn btn-primary btn-lg btn-block mt-3">Добавить платеж</button>
				</div>
			</div>
    	</div>
    </div>
{% endblock %}
