<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} PHP-разработчик @ Assistent</title>

        <meta property="og:site_name" content="dostawim.ru">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://dostawim.ru">
        <meta property="og:title" content="Тестовое задание для @Assistent">
        <meta property="og:description" content="Автоматический парсинг данных для создания платежа">
        <meta property="og:image" content="favicon.ico">
        <meta property="og:locale" content="ru_RU">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/jquery.dm-uploader.css') }}" rel="stylesheet" type="text/css" />

    </head>
    <body>
        <div class="container mt-5">
            {% block content %}{% endblock %}
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    {#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ asset('js/jquery.dm-uploader.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(53271997, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/53271997" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</html>
